.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
  
}

.style-one {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  
}

.page-section {
    padding: 5rem 0;
  }
  
  .bg-light {
    background-color: #FF5555 !important;
  }

  .page-section.bg-primary{
    background-color: #0d2944 !important;
  }

  .page-section{
    background-color:#F8F8F2 !important;
  }

.masthead {
    display: block;
    padding-top: 80vh;
    /*padding-bottom: calc(15rem - 10rem);
    */
    background:url("../../assets/bg_main3.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }


  @media only screen and (max-width: 600px) {
    .masthead{
      padding-top: 15rem;
    }
  }

  
small {
  font-size: 80%;
}

.text-center {
  text-align: center !important;
}

.text-muted {
  color: #ffffff !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}