
@media screen and (max-width: 600px) {
  .left,.right,.container {
    /*display property will be overriden as any class further inside this scope*/
    display: i;
    width: auto;
    height: auto;
  

    
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: "10px";
  font-weight: bold;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0d0d0d;
}

.App {
  text-align: center;
}

.divider {

  height: auto;
  padding:0.2rem;
 
}

#registerBg {
  min-height: 100vh;
}

#logInbg {
  min-height: 100vh;
}

.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

.page-section {
  padding: 8rem 0;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
bg-light py-5{
  background-color: aqua !important;
  background: aqua!important;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  background-color: #FF5555;

  padding: 20px;
  font-size: large;
  color: #f1f1f1 !important;
}



@media screen and (max-width: 400px) {
  .left,.right,.container {
    /*display property will be overriden as any class further inside this scope*/
    display: block;
    width: auto;
    height: auto;
  

    
  }
}


.right{
 
  display:table-cell;
  width:30vw;
}

.left{
  
  display:table-cell;
  width:30vw;
  padding-right: 3vw;
}


.container{
  display:table;
  width: auto;
  margin: auto;
  
 }